[submodule "deps/glm"]
	path = raymarching/deps/glm
	url = https://github.com/g-truc/glm.git
[submodule "deps/spirv-cross"]
	path = raymarching/deps/spirv-cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
	ignore = dirty
[submodule "deps/vma"]
	path = raymarching/deps/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "deps/imgui"]
	path = raymarching/deps/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "raymarching/fresa"]
	path = raymarching/fresa
	url = https://github.com/josekoalas/fresa.git
